body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
}

.logo {
    height: 50px;
}

nav {
    padding: 20px;
    position: sticky;
    top: 102px;
}
 

nav ul {
    white-space: nowrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none   ;
    color: #333;
}

main {
    padding: 20px;
    max-width: 100%;
    width: 2000px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}

.collection {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
    justify-content: space-between;
}

.new-release {
        display: flex;
        flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
        justify-content: space-between;
}

  
.shoe {
    width: 40%; /* Adjust width as needed */
    text-align: center;
  }
  
  .shoe img {
     max-width: 100%;
}

.product-details {
    font-family: Arial, sans-serif;
    color: #fff; /* White text */
    background-color: #333; /* Dark background */
    padding: 20px;
    text-align: left;
  }
  
  .product-details p {
    margin-bottom: 10px;
  }
  
  strong {
    font-weight: bold;
  }
  
footer {
    text-align: center;
    padding: 10px;
    background-color: #0c0c0c;
    color:white ;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
 }